p {
color: blue;
font-size: 22 pt;
 }
p#pogrubienie_rychert {
color: #e95c6e;
font-size: 32px;
bold: true;
 }
  p#pochylona_rychert {
color: #e9c01e;
font-size: 37px;
 }
   p#index_gorny_rychert {
color: #998e1e;
font-size: 1.2cm;
 }
    p#index_dolny_rychert {
color: yellow;
font-size: 10 pt;
font-family: Arial;
 }
    p#mono_rychert {
color: yellow;
font-size: 10 pt;
font-family: Arial;
 }
     p#powiekszenie_rychert {
color: yellow;
font-size: 10 pt;
font-family: Arial;
 }
    p#pomniejszenie_rychert {
color: yellow;
font-size: 10 pt;
font-family: Arial;
 }